<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.MemberMapper">

	<!-- 태그이름 == SQL문의 키워드 -->
	<!-- #{변수이름} 방식으로 변수값을 sql문 사이에 넣을 수 있음 -->
	<!-- 여러개의 변수값을 넣는경우, 
		 하나로 묶어서 주어야 하고, 자료형을 명시(parameterType) -->
		 <!-- 변수명이 DTO의 필드로 선언이 되어있어야함 -->
	<insert id="join" parameterType="com.smhrd.entity.Member"  >
		insert into Member
		values(
			#{email},
			#{pw}, 
			#{tel},
			#{address}
		)
	</insert>
	
	<!-- select문의 경우, 결과를 어떤 자료형에 담아서 받을지 결정이 필요 : resultType -->
	<!-- ***테이블 컬럼 명 == DTO 선언된 필드 변수명  -->
	<select id="login" parameterType="com.smhrd.entity.Member" resultType="com.smhrd.entity.Member" >
		select * from Member
		where email = #{email}
		and pw = #{pw}
	</select>
	

	<update id="update" parameterType="com.smhrd.entity.Member"  >
		update Member
		set pw = #{pw},
			tel = #{tel},
			address = #{address}
		where email = #{email}
	</update>

	
	<select id="check" resultType="com.smhrd.entity.Member" >
		select * from Member
		where email = #{email}
	</select>





























</mapper>